.square-box{
    background-color: red;
    width: 100px;
    height: 100px;
}
.circle{
    margin-top: 20px;
    background-color: green;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.design{
    border-style: groove;
    border-radius: 2px;
    border-width: 2px;
    display: inline-block;
    width: 300px;
    margin-bottom: 20px;
}
.t{
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.b1{
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.design2{
    background-color: black;
    display: inline-block
}
.a{
    padding-left: 10px;
    color: white;
    font-weight: bold;
}
.b{
    padding-left: 10px;
    color: rgba(214, 223, 226, 0.805);
    width: 350px;
}