.sidebar{
    position: fixed;
    top: 50px;
    left: 0;
    background-color: white;
    width: 72px;
    bottom: 0;
    z-index: 2;
}

.sidebar-link{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.sidebar-link:hover{
    background-color: rgb(238, 234, 234);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
    font-family:Roboto, Arial;

}